*.log

*.pot

*.pyc

*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

*/*/*/migrations/__init__.py
*/*/migrations/__init__.py
*/migrations/__init__.py

*/__init__.py
info.md
.vscode
README.md

*~

.fuse_hidden*

.directory

.Trash-*

.nfs*
.pyc*

venv

chart/migrations/
login/migrations/
products/migrations/
comments/migrations/
