*.log

*.pot

*.pyc

*/*/*/*/__pycache__/
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

*/*/*/migrations/__init__.py
*/*/migrations/__init__.py
*/migrations/__init__.py

chart/migrations/
authentication/migrations/
products/migrations/
comments/migrations/
users/migrations/
slides/migrations/

*/__init__.py
info.md
.vscode
README.md

*~

.fuse_hidden*

.directory

.Trash-*

.nfs*
.pyc*

venv
.env
docker-compose.yml
init.sql
my-postgres.conf